<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="pname">Parent's Full Name:</label><br>
        <input type="text" id="pname" name="pname" required><br>
        <br>
        <label for="email">Prefered Email Adress:</label><br>
        <input type="email" id="email" name="email"required><br>
        <br>
        <label for="uniform">How many uniforms do you need patches for?</label><br>
        <input type="number" id="uniform" name="uniform"required><br>
        <br>
        <label for="patches">How many patches would you like sewn on?</label><br>
        <input type="number" id="patches" name="patches"required><br>
        <p>Which class(es) does your child attend?<br>(This information is used to determine the best times for dropoff/pickup.)</p>
        <input type="checkbox" name="lildragon" id="lildragon" value="Lil' Dragons">
        <label for="lildragon">Little Dragon's</label><br>

        <input type="checkbox" name="beginner" id="beginner" value="Beginner">
        <label for="beginner">Beginner (White-Orange Belt)</label><br>

        <input type="checkbox" name="intermediate" id="intermediate" value="Intermediate">
        <label for="intermediate">Intermediate (Purple-Gray Belt)</label><br>

        <input type="checkbox" name="advancedbb" id="advancedbb" value="Advanced/Black Belt">
        <label for="advancedbb">Advanced/Black Belt (Tan-Black Belt)</label><br>

        <input type="checkbox" name="teenadultbb" id="teenadultbb" value="Teen Adult">
        <label for="teenadultbb">Teen/Adult (White-Black Belt)</label><br>

        <input type="checkbox" name="kidsspar" id="kidsspar" value="Kids Sparring">
        <label for="kidsspar">Kids Sparring</label><br>

        <input type="checkbox" name="teenspar" id="teenspar" value="Teen Sparring">
        <label for="teenspar">Teen/Adult Sparring</label><br>

        <p>What days are you at the dojo?</p>
        <input type="checkbox" name="mon" id="mon" value="Monday">
        <label for="mon">Monday</label><br>
        <input type="checkbox" name="tue" id="tue" value="Tuesday">
        <label for="tue">Tuesday</label><br>
        <input type="checkbox" name="wed" id="wed" value="Wednesday">
        <label for="wed">Wednesday</label><br>
        <input type="checkbox" name="thu" id="thu" value="Thursday">
        <label for="thu">Thursday</label><br>
        <br>
        <input type="submit" value="Submit">
    </form>





</body>
</html>